root = true

[*]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = tab
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{js,ts}]
ij_continuation_indent_size = 2
ij_any_class_brace_style = end_of_line
ij_any_block_brace_style = end_of_line
ij_any_method_brace_style = end_of_line
ij_any_align_multiline_extends_list = true
ij_any_spaces_within_braces = true
ij_any_align_multiline_chained_methods = true
ij_any_align_multiline_array_initializer_expression = true
ij_any_align_multiline_parameters = true
ij_any_align_multiline_parameters_in_calls = true
ij_any_align_group_field_declarations = true
ij_any_keep_blank_lines_in_code = 2
ij_any_keep_simple_blocks_in_one_line = true
ij_any_keep_simple_methods_in_one_line = true
ij_any_keep_line_breaks = true
# js
ij_javascript_function_expression_brace_style = end_of_line
ij_javascript_method_brace_style = end_of_line
ij_javascript_block_brace_style = end_of_line
ij_javascript_align_multiline_extends_list = true
# ts
ij_typescript_align_imports = true
ij_typescript_align_multiline_extends_list = true
ij_typescript_align_object_properties = unset
ij_typescript_block_brace_style = end_of_line
ij_typescript_class_brace_style = end_of_line
ij_typescript_method_brace_style = end_of_line
ij_typescript_keep_indents_on_empty_lines = true
ij_typescript_space_before_class_left_brace = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_array_initializer_brackets = false
ij_typescript_spaces_within_imports = true
